@media(max-width:1300px){
    
    /*Header*/
    
    #nametag{
        font-size:20px;
        padding-top:45px;
        padding-right:10px;
    }
    
    #headerMenuOptions li{
        font-size: 12px;
    }
    
    /*Bio*/
    
    #bioDiv{
        height:410px;
    }
    
    #photoDiv img{
        height:370px;
        width:370px;
    }
    
    #bioDiv p{
        font-size: 12px;
    }
    
    /*Skills*/
    
    #skillScreen{
        height:350px;
    }
    
    #skillScreen .container{
        background-color: white;
        color: black;
        margin-top:25px;
    }
    
    #skillScreen .container ul li{
        font-size:12px;
    }
    
    /*Experience*/
    
    .description{
        font-size:12px;
        width:35%;
    }
    
    #researchExp .image img{
    margin:0px 100px 0px 0px;
    }

    #stemExp .image img{
        height:200px;
        margin:5px 0px 0px 100px;
    }
    
    /*Projects*/
    #projectScreen{
        height:600px;
    }
    
    .project img{
        height:200px;
    }
    
    .project{
        font-size:12px;
    }
    
    .index-btns{
        width:30%;
        margin: 0% 33% 0% 37%;
    }
    
    /*Education*/
    
    .school-desc{
        font-size:12px;
    }
    
    #educationScreen{
        height:550px;
    }
    
}


@media(max-width:1030px){
    /*Bio*/
    
    #bioDiv{
        height:340px;
    }
    
    #bioDiv h1{
        margin:5%;
    }
    
    #photoDiv img{
        height:300px;
        width:300px;
    }
    
    #bioDiv p{
        font-size: 12px;
    }
    
    /*Project*/
    
    #projectScreen .heading{
        padding:10px;
        font-size: 10px;
        color: white;
        text-align: left;
        font-weight: normal;
    }
}


@media(max-width:855px){
    /*header*/
    header{
        height:120px;
    }
    #headerMenuOptions{
        float: left;
        text-align: center;
        width:80%;
        margin:0% 20% 0% 0%;
    }
    
    #headerMenuOptions li{
        display:inline;
        padding: 5px 5px 5px 5px;
        border-bottom:none;
        transition: all 0.5s;
    }

    #headerMenuOptions li:hover{
        transition: all 0.5s;
        opacity:1;
        border-bottom:2px solid red;
        cursor: pointer;
    }
    
    #nametag{
        display:none;
    }
    .show{
        display:none;
    }
    /*welcome*/
    #welcomeScreen h1{
        font-size: 70px;
    }
    /*Bio*/
    #bioDiv{
        width:100%;
    }
    
    #photoDiv {
        width:80%;
        align-content: center;
        margin:0% 10%;
    }
    
    #photoDiv img{
        width:300px;
        height:300px;
        margin:3% 20% 0% 20%;
    }
    
    /*Experience*/
    
    

    
}