header {
    width:100%;
    height:120px;
    background-color:#4d4b4c;
    position:top;
    opacity:0.9;
    font-family: "Andale Mono";
    position: fixed;
    top: 0;
    z-index: 10;
    transition: all 0.5s;
}

header:hover{
    opacity: 1;
    transition: all 0.5s;
}

#nametag {
    float:left;
    padding-left:30px;
    padding-right:20px;
    font-size:40px;
    color:black;
    cursor: pointer;
}

#name{
    border-bottom:2px solid red;
}

#headerMenuOptions{
    float:right;
    padding-top:40px;
    padding-right:20px;
    color:white;
    text-align: center;
}

#headerMenuOptions li{
    display:inline;
    padding: 10px 10px 10px 10px;
    border-bottom:2px solid #4d4b4c;
    transition: all 0.5s;
}

#headerMenuOptions li:hover{
    transition: all 0.5s;
    opacity:1;
    border-bottom:2px solid red;
    cursor: pointer;
}

body{
    font-family:"Lucida Grande";
} 

/*Welcome screen CSS*/

#welcomeScreen{
    width:100%;
    height:720px;
    background-image:url("Images/Background Images/background1.png");
    background-size: cover;
    background-attachment: fixed;
}

#welcomeScreen h1{
    text-align: center;
    color:white;
    font-weight:1;
    font-size: 150px;
    margin: auto;
    margin-top:120px;
    padding-top: 150px
}

.makeItRed{
    color:red;
}

/*Bio screen CSS*/

#bioScreen{
    display:inline;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    height:280px;
    font-family: "Andale Mono";
}

#bioDiv{
    float: left;
    width:50%;
    text-align: center;
    margin: auto;
    height:640px;
    background-color: black;
}

#bioDiv p{
    width:80%;
    margin:0px 40px 0px 50px;
    color:white;
}

#bioDiv h1{
    font-weight: 100;
    color: white;
    margin:12%;
}

#photoDiv img{
    width:40%;
    align-content: center;
    margin:0% 5%;
}

/*Skills screen CSS*/

#skillScreen {
    height:520px;
    background-image: url("Images/Background Images/background4.png");
    background-size: cover;
    font-family: "Andale Mono";
    background-attachment: fixed;
}

#skillScreen .container{
    float: right;
    color: white;
    width:50%;
}

#skillScreen h1{
    font-weight: 100;
    margin: 12%;
    text-align: center;
}

#skillScreen li{
    margin:2%;
}

.boldIt{
    font-weight:bolder;
}

/*Experience screen CSS*/

#experienceScreen{
    background-color: black;
    background-size: cover;
    height:720px;
    font-family: "Andale Mono";
}

#experienceScreen .heading{
    color:white;
    text-align: center;
    font-weight: normal;
    padding:20px;
}

.position{
    font-weight: normal;
}

.image img{
    height:280px;
    margin:0px 200px;
}

#researchExp .image img{
    margin:0px 300px 0px 0px;
}

#stemExp .image img{
    height:240px;
    margin:5px 0px 0px 300px;
}

.description{
    width:40%;
    color: white;
    margin:0% 5%;
    transition: all 0.5s;
    background-color: black;
}

.description:hover{
    background-color: white;
    transition: all 0.5s;
    color: black;
    /*Use Jquery to make a bottom border appear under the job titles*/
}

.description p{
    width:80%;
    padding:0% 10%;
}

#researchExp {
    height:300px;
}

#researchExp .image{
    float:right;
}

#researchExp .description{
    float:left;
}

#stemExp .description{
    float:right;
}

#stemExp .image{
    float:left;
    height:320px;
}

/*Project Screen*/

#projectScreen{
    background-image: url("Images/Background Images/background2.png");
    background-size: cover;
    height:700px;
    font-family: "Andale Mono";
    background-attachment: fixed;
}

#projectScreen .heading{
    padding:30px;
    color: white;
    text-align: center;
    font-weight: normal;
}

.project img{
    height:300px;
}

.project {
    color: white;
    width:30%;
    margin: 0% 35%;
    text-align: center;
    background-color: none;
    transition:all 0.5s;
    display: none;
}

.active{
    display:block;
}

.project-description{
    margin: 5% 1%;
}

.project:hover{
    color: black;
    background-color: white;
    transition: all 0.5s;
    cursor:pointer;
}

.index-btn{
    display: inline-block;
    color: black;
    background-color: white;
    width: 40px;
    padding: 6px 0;
    margin: 0 5px;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.index-btn:hover{
    color:white;
    background-color: black;
    transition: all 0.5s;
}

.index-btns{
    width:20%;
    margin: 0% 38% 0% 42%;
}

/*Education Screen*/

#educationScreen{
    font-family: "Andale Mono";
    height:700px;
    background-color: black;
    padding:20px;
    transition:all 0.5s;
    color: white;
}

#educationScreen .header{
    text-align: center;
    font-weight: normal;
}

.school {
    width:26%;
    margin:3%;
    display:inline-block;
    transition: all 0.5s; 
}

.school:hover{
    background-color: white;
    color: black;
    transition: all 0.5s;
    cursor: pointer;
}

.school-img img{
    width:80%;
    margin: 10%;
}

.school-desc{
    padding:5%;
}

/*Contact Us*/

#contactScreen{
    font-family: "Andale Mono";
}

.contact-container{
    width: 80%;
    margin: 5% 10%;
    background-color: white;
}

.container-left{
    width:50%;
    display: inline-block;
}

.container-left h1{
    font-size: 60px;
    text-align: center;
    margin: 35% 0%;
}

.container-right{
    display: inline-block;
    width:50%;
    float: right;
    margin: 5% 0%;
}

.container-right button{
    border:none;
    width:100px;
    background-color: black;
    color: white;
    padding: 16px 8px;
    margin: 10px 0px;
    font-family: "Andale Mono";
    transition: all 0.2s;
}

.container-right button:hover{
    cursor: pointer;
}

.container-right button:active{
    background-color: white;
    color: black;
    transition: all 0.2s;
}











    





























